input#SearchTasks2 {
    margin-top: 28px;
}
.main_hedg{ font-size: 18px;
    background: #ededed;
    padding: 12px;
    margin-bottom: 15px;
    margin-top: 0px;
}
.proje_tabl th{text-align: left;
    padding: 10px 0 10px 5px;
    background: #cce2f3;
    border: 1px solid #c2c2c2;}


.TasksGrid{
  
    align-self: center;
}   
